body {
  font: 12px "Century Gothic", Futura, sans-serif;
}

.card {
  width: 100%;
}

.card-chat {
  width: 100%;
  background: orange;
  height: 200px
}

.card-history {
  width: 100%;
  background: orange;
  height: 190px
}

.card-body {
  background: orange;
}

.card-title {
  font: bold 10px 'Courier New', Courier, monospace;
  color: rgb(51, 53, 172);
}

.scroll-view-chat {
  text-align: left;
  font: 12px 'Courier New', Courier, monospace;
  color: black;
  overflow: hidden;
  overflow-y: scroll;
  height: 90px
}

.scroll-view-history {
  text-align: left;
  font: 12px 'Courier New', Courier, monospace;
  color: black;
  overflow: hidden;
  overflow-y: scroll;
  height: 120px;
  padding-left: 0px
}

.input-message {
  font: 12px 'Courier New', Courier, monospace;
}

